* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  max-width: 100vw fit-content;
}

.hero {
  max-width: 100vw;
  overflow-x: hidden;
}
.navcontact {
  background-color: #181d37;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
.navcontact .phone {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navcontact .phone img {
  width: 1em;
  margin: 0 10px;
}

.navcontact .phone h1 {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
}

.navcontact .social ul {
  display: flex;
  list-style: none;
  color: #fff;
}
.navcontact .social li {
  margin-left: 1rem;
}

#header {
  background: url(../images/bg1.jpg) no-repeat center center/cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 30.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  z-index: 11;
}
#header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30.5rem;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}
#header .header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
  align-items: center;
}
#header .nav ul {
  display: flex;
  list-style: none;
  margin: 0 14rem;
}

#header .nav ul a {
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
}

#header .giftCardBtn button {
  width: 180px;
  background-color: #050718;
  color: #fff;
  border: #ff364a 1px solid;
  padding: 1rem;
  margin-right: 0.5rem;
  border-radius: 0.5em;
  background-color: rgba(5, 7, 24, 0);
}

#header .giftCardBtn button:hover {
  background-color: #ff364a;
  cursor: pointer;
}

#header .header-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

#header .header-cont p {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  padding: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

#header .header-cont button {
  background-color: #ff364a;
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px medium;
  margin-top: 1rem;
  border: #ff364a 1px solid;
}

#header .header-cont button:hover {
  border: #ff364a 1px solid;
  background-color: #ff364a00;
  cursor: pointer;
}

#header .save {
  display: flex;
  margin: 2rem 0;
}

#header .save div {
  background-color: #fff;
  height: 5rem;
  width: 15rem;
  text-align: center;
}

#header .save .box1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: #f6f6f6 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .save .box2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .save .box3 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: #f6f6f6 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 {
  background-color: #fff;
  /* height:; */
  padding: 4rem;
  width: 100vw auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section1 .left1 {
  width: 40vw;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
}

.section1 .left1 .sq1 {
  background-color: #ff364a;
  height: 50vh;
  width: 15vw;
  z-index: -2;
  position: absolute;
  top: -2.9rem;
  border-radius: 10px;
}

.section1 .left1 .sqimg {
  background-color: #f6f6f6;
  background: url(../images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 25rem;
  z-index: 2;
  margin-left: 30px;
  margin-top: 1.6em;
  border-radius: 10px;
}

.section1 .left1 .sqimg::after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 32rem;
  background-color: #ff364a;
  z-index: -2;
  transform: translate(-20%, -10%);
  border-radius: 5px;
}

.section1 .rigth1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section1 .rigth1 h1 {
  margin: 0 0 2rem 0;
  padding: 0.5em 0em;
  position: relative;
}
.section1 h1::after {
  content: "";
  position: absolute;
  background-color: #ff364a;
  width: 100px;
  height: 5px;
  bottom: 0;
  left: 20%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.section1 .rigth1 p {
  margin-bottom: 2rem;
}

.section1 .rigth1 button {
  background-color: #050718;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.section1 .rigth1 button:hover {
  background-color: #554f4f;
  cursor: pointer;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  width: 100vw auto;
  margin: 3rem 0;
  background-color: #181d37;
}
.section2 .top2 {
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
}
.section2 .top2 span {
  border-bottom: #ff364a 3px solid;
  padding-bottom: 0.5rem;
}
.section2 .bottom2 {
  display: flex;
  justify-content: space-evenly;
}
.section2 .bottom2 div {
  width: 300px;
  height: 350px;
  background-color: #fff;
  padding: 2rem;
  margin: 2rem 1.2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.section2 .bottom2 div:hover {
  transform: scale(1.3);
  box-shadow: 10px 10px 55px 0 #181d3793;
}

.section2 .bottom2 div img {
  width: 125px;
}
.section2 .bottom2 div p {
  font-size: small;
}

.section3 {
  background-color: #fff;
  height: auto;
  padding: 4rem;
  width: 100vw auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section3 .left3 {
  width: 40vw;
  margin-right: 5rem;
  z-index: 0;
  position: relative;
}

.section3 .left3 .sq3 {
  background-color: #ff364a;
  height: 50vh;
  width: 15vw;
  z-index: -2;
  position: absolute;
  top: -2.9rem;
  right: -2rem;
  border-radius: 10px;
}

.section3 .left3 .sqimg {
  background-color: #f6f6f6;
  background: url(../images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 45rem;
  height: 25rem;
  z-index: 2;
  margin-right: 30px;
  border-radius: 10px;
}

.section3 .rigth3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
}

.section3 .rigth3 h1 {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.section3 h1::after {
  content: "";
  position: absolute;
  background-color: #ff364a;
  width: 100px;
  height: 5px;
  bottom: 0;
  left: 20%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.section3 .rigth3 h3 {
  margin-bottom: 1.5rem;
  font-weight: lighter;
}

.section3 .rigth3 h3 img {
  padding: 0 1rem;
}

.section3 .rigth3 button {
  background-color: #050718;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65rem;
  width: 100vw auto;
  margin: 3rem 0;
  background-color: #181d37;
  color: #fff;
}
.section4 h1 {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.section4 h1 span {
  width: 10vw;
  border-bottom: #ff364a 3px solid;
  padding-bottom: 0.5rem;
}
.section4 .top4 {
  height: 35vh;
  width: 100vw auto;
}
.section4 .bottom4 {
  height: 35vh;
  width: 100vw auto;
  background-color: #fff;
}
.section4 .cont4 {
  display: flex;
}

.section4 .cont4 div {
  color: #000;
  width: 300;
  background-color: #fff;
  padding: 2rem;
  margin: 2rem 1.2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.226);
}

.section4 .cont4 div:hover {
  transform: scale(1.3);
  box-shadow: 10px 10px 55px 0 #181d3793;
}

.section4 .cont4 p {
  border: #f6f6f6 1px solid;
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 1rem 0;
}

.section4 .cont4 div img {
  padding: 0 0.5rem;
  width: 2rem;
}

.section4 .cont4 div .topImg {
  width: auto;
  margin: 1rem 0;
}

.section4 .cont4 button {
  border: #ff364a 1px solid;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.section5 {
  background-color: #fff;
  /* height: auto; */
  padding: 4rem;
  width: 100vw auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section5 h1 {
  position: relative;
  padding: 1rem;
  margin-bottom: 4rem;
}

.section5 h1::after {
  content: "";
  position: absolute;
  background-color: #ff364a;
  width: 80px;
  height: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.section5 .bottom5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.section5 .left5 {
  width: 40vw;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
}

.section5 .bottom5 .left5 .sq1 {
  background-color: #ff364a;
  height: 50vh;
  width: 15vw;
  z-index: -2;
  position: absolute;
  top: -2.9rem;
  border-radius: 10px;
}

.section5 .bottom5 .left5 .sqimg {
  background-color: #f6f6f6;
  background: url(../images/bg4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 45rem;
  height: 25rem;
  z-index: 2;
  margin-left: 30px;
  border-radius: 10px;
}

.section5 .right5 div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section5 .right5 img {
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.226);
  margin: 1rem;
}
.section5 .right5 h3 {
  width: 300px;
  padding: 1rem 3rem;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.226);
  margin: 1rem;
}

.section5 button {
  background-color: #181d37;
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px medium;
  margin-top: 1rem;
  margin-left: 6.5rem;
}

.section6 {
  height: 300px;
  background-color: #050718;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.section6 p {
  font-size: 1.5rem;
  padding: 2rem;
}

.section6 button {
  background-color: #ff364a;
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px medium;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section7 {
  height: 600px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section7 .top7 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section7 .top7 .left7 {
  height: 350px;
  width: 250px;
  background-image: url(../images/bg5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2rem;
}

.section7 .top7 h1 {
  margin: 2rem;
}

.section7 .top7 h3 {
  margin: 2rem;
}

.section7 .top7 .right7 button {
  background-color: #ff364a;
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px medium;
  margin-top: 1rem;
  margin: 2rem;
}

.section7 .bottom7 {
  height: 100px;
  width: 800px;
  background-color: #181d37;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.section7 .bottom7 button {
  background-color: #ff364a;
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px medium;
  margin-top: 1rem;
  margin: 2rem;
}

.section7 .bottom7 h3 {
  margin: 2rem;
}

.section8 {
  height: 300px;
  background-color: #181d37;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section8 .top8 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section8 .top8 ul {
  color: #fff;
  font-weight: lighter;
  font-size: smaller;
  list-style: none;
}
.section8 .top8 ul li {
  margin-top: 1rem;
}

.section8 .top8 h3 {
  color: #fff;
  font-size: larger;
  font-weight: bolder;
}

.section8 .bottom8 {
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

@media (max-width: 1178px) {
  .section1 {
    font-size: x-large;
    text-align: center;
  }
  .section1 .left1 {
    display: none;
  }
  .section1 button {
    justify-self: center;
    align-self: center;
  }
  .section1 h1::after {
    content: "";
    position: absolute;
    background-color: #ff364a;
    width: 100px;
    height: 5px;
    bottom: 0;
    left: 45%;
    transform: translateX(-50%);
    border-radius: 5px;
  }
  .section3 {
    font-size: x-large;
  }
  .section3 .left3 {
    display: none;
  }
  .section5 .left5 {
    display: none;
  }
  #header .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    align-items: center;
  }
  #header .header-nav ul {
    margin: 1.5rem;
  }
}

@media (max-width: 990px) {
  #header .save {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }
  #header .save .box1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-right: #f6f6f6 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header .save .box3 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: #f6f6f6 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0px;
  }
  .section2 {
    /* height: auto; */
    padding: 2rem;
  }
  .section2 .bottom2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .section4 {
    /* height: auto; */
  }
  .section4 .top4 {
    /* height: auto; */
  }
  .section4 {
    /* height: auto; */
  }
  .section4 .cont4 {
    /* height: auto; */
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 678px) {
  .navcontact {
    background-color: #181d37;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* width: 100vw auto; */
  }
}
@media (max-width: 800px) {
  .section7 .top7 .left7 {
    display: none;
  }
  .section7 .right7 {
    text-align: center;
  }
  .section7 .bottom7 {
    display: none;
  }
  .section8 {
    /* height: auto; */
    padding: 2rem;
    margin: 0;
    text-align: center;
  }
  .section8 .top8 {
    flex-direction: column;
  }
  .section8 .top8 ul {
    padding: 1rem;
  }
  .section8 .top8 h3 {
    padding: 0.5rem;
  }
  .section8 .bottom8 {
    padding-top: 1rem;
  }
}
@media (max-width: 450px) {
  #header .nav {
    display: none;
  }
  #header .logo {
    margin-bottom: 1rem;
  }
  .section3 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .section3 .rigth3 {
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
  .section3 h1::after {
    left: 50%;
  }
  .section4 h1 {
    text-align: center;
  }
  .section5 h1 {
    text-align: center;
  }
}
